body {
  box-sizing: border-box;
  color: #777777;
}

li {
  list-style: none;
  margin-left: 1rem;
}

.dark-text {
  color: #777777;
}

.guitar {
  background-image: url("/style/early-guitar-body.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  /*top: -50px;*/
  background-position: center;
}

.gutiar-match {
  width: 80%;
}

.logout {
  position: relative;
  top: .5rem;
}

.student-list {
  margin-top: 1rem;
}

.empty {
  background-color: #F5F5F5;
  border: 2px dashed #D8D8D8;
  border-radius: 5px;
  height: 500px;
  padding: 200px 0;
  color: #777777;
  text-align: center;
  margin-top: 1rem;
}

#calendar {
  margin-top: 1rem;
}

.add-lesson {
  color: #777777;
  position: relative;
  top: 5px;
  padding-right: 1rem;
}

.heading-inline {
  display: inline;
}

.add-lesson-btn {
  color: #C4C4C4;
}

.add-note-btn {
  padding-left: 1rem;
  position: relative;
  top: 1px;
  font-size: 1.5rem;
}


.comment-area {
  position: relative;
  /*border-top: 1px solid #DDDDDD;*/
  background-color: white;
}

.comment-box {
  /*position: fixed;*/
  /*bottom: 0;*/
  margin-top: 1rem;
  /*right: 0;*/
}

.teacher-comment {
  font-family: 'Caveat', cursive;
  color: red;
  text-align: right;
  font-size: 2rem;
  margin: 0px;
}

.student-comment {
  font-family: 'Homemade Apple', cursive;
  color: blue;
  text-align: left;
  /*font-size: 1.5rem;*/
}
