body {
  box-sizing: border-box;
  color: #777777;
}

ul {
  /*margin-left: 0px;*/
  padding-left: 0px;
}

li {
  list-style: none;
  margin-left: 1rem;
}

.dark-text {
  color: #777777;
}

.teachers-thumbnails {
  margin-bottom: 5rem;
}

.register {
  margin-bottom: 5rem;
}

.invisible {
  visibility: hidden;
}
/*.guitar {
  background-image: url("/style/early-guitar-body.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  top: -50px;
  background-position: center;
}

.gutiar-match {
  width: 80%;
}*/

/*.logout {
  position: relative;
  top: .5rem;
}*/


/*jumbotron area*/
.relative {
  position: relative;
}

.update-btn {
  position: absolute;
  right: 1rem;
  bottom: 0;
}

.home-pic {
  width: 50%;
  border-radius: 5px
}

.header-pic {
  width: 150px;
  /*height: 150px;*/
  margin-top: 1rem;
  border-radius: 5px;
  /*background-size: cover;*/
}

.catch-phrase {
  margin-left: 9rem;
  /*display: inline;*/
  font-family: 'Caveat', cursive;
  font-size: 3rem;
}

.student-list {
  /*margin-top: 1rem;*/
  margin-bottom: 1rem;
}

.empty {
  background-color: #F5F5F5;
  border: 2px dashed #D8D8D8;
  border-radius: 5px;
  height: 500px;
  padding: 200px 0;
  color: #777777;
  text-align: center;
  margin-top: 1rem;
}

#calendar {
  margin-top: 1rem;
}

.notebook {
  margin-top: 1rem;
}

.notebook-heading {
  margin-top: 2rem;
  border-top: 1px solid #EEEEEE;
}

.add-lesson {
  text-align: right;
}

.inline-text {
  display: inline;
}

.add-lesson-btn {
  margin-left: .5rem;
  color: #C4C4C4;
}

.add-note-btn {
  padding-left: 1rem;
  position: relative;
  top: 1px;
  font-size: 1.5rem;
}

.comment-area {
  position: relative;
  /*border-top: 1px solid #DDDDDD;*/
  background-color: white;
}

.comment-box {
  /*position: fixed;*/
  /*bottom: 0;*/
  margin-top: 1rem;
  /*right: 0;*/
}

.teacher-name {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  padding: 5px;
  margin: 0px;
}

.teacher-inst {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  padding: 5px;
  margin: 0px;
}

.teacher-catch {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  padding: 5px;
  margin: 0px;
}

.teacher-comment {
  font-family: 'Caveat', cursive;
  color: rgb(0, 0, 128);
  text-align: right;
  font-size: 2rem;
  margin: 0px;
}

.student-comment {
  font-family: 'Homemade Apple', cursive;
  color: blue;
  text-align: left;
  /*font-size: 1.5rem;*/
}

.announcements {
  font-family: 'Caveat', cursive;
  color: red;
  text-align: center;
  font-size: 2rem;
  margin: 0px;
}
