
  <div class="container-fluid">

    <!-- <nav class="nav navbar-default"> -->
      <!-- <div class="container"> -->

        <div class="jumbotron">

          <h3 class="heading-inline">{{teacher.teacher.firstName}}'s {{teacher.teacher.instrument}} studio</h3>
          <!-- <button
            ng-click="teacher.logOut()"
            type="button"
            class="btn btn-warning logout pull-right">
            logout
          </button> -->

        </div>
      <!-- </div> -->
    <!-- </nav> -->

    <div class="row">

      <nav class="col-md-2 col-xs-4 student-list">
        <!-- list of students. click on one and show that student's notebook -->
        <div class="list-group">
          <button
            ng-repeat="student in teacher.students"
            ng-if="!student.teacher && student.instrument === teacher.teacher.instrument"
            ng-click="teacher.studentSelect(student)"
            type="button" class="list-group-item">
            {{student.firstName}}
          </button>
        </div>
      </nav>

      <section ng-init="teacher.makeCalendar()" id="calendar" class="col-md-5 col-xs-8 pull-right">
      </section>

      <!-- notebook section  -->
        <!-- shows when no student is selected  -->
      <section class="col-md-5 col-xs-12 empty" ng-show="!teacher.studentSelected">
        <h3>click on a student's name to see his or her notebook</h3>
      </section>

        <!-- selected student's notebook -->
      <section class="col-md-5 col-xs-12" ng-show="teacher.studentSelected">

        <div class="page-header">
          <button ng-click="teacher.newLesson()" class="pull-right btn btn-default add-lesson-btn">
            <span class="glyphicon glyphicon-plus" ></span>
          </button>
          <p class="pull-right add-lesson">add a new lesson</p>
          <h3>{{teacher.activeStudent.firstName}}'s notebook</h3>
        </div>


        <div class="panel panel-default" ng-repeat="lesson in teacher.activeStudent.notebook">

          <!-- notebook lesson header -->
          <div class="panel-heading">
            <button ng-click="teacher.deleteLesson(lesson)" type="button" class="close" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h3 class="heading-inline">{{lesson.date | date}}</h3>
            <h3 class="heading-inline" ng-click="teacher.themeEdit()" ng-show="!teacher.theme"><small>{{lesson.lessonTheme}}</small></h3>
            <!-- <input type="text" ng-model="lesson.date" ng-show="teacher.heading" ng-blur="teacher.headingSave()"> -->
            <input type="text" ng-model="lesson.lessonTheme" ng-show="teacher.theme" ng-blur="teacher.themeSave()">
          </div>

          <!-- list individual practice areas and notes -->
          <div class="panel-body">

            <ul>
              <h4>Tonalization
                <!-- <button  type="button" class="btn btn-default"> -->
                  <span ng-click="teacher.addNote(lesson, 'tonalization')" class="glyphicon glyphicon-plus add-note-btn"></span>
                <!-- </button> -->
              </h4>
              <!-- normal outline view switches to edit on click -->
              <li ng-repeat="note in lesson.practiceArea.tonalization track by $index">
                <span ng-click="teacher.noteEdit(note, 'tonalization')" ng-show="!note.edit">{{note.text}}</span>

                <!-- div grouping note editing stuff -->
                <div ng-show="note.edit" class="input-group">
                  <input ng-blur="teacher.noteSave(note, 'tonalization')" type="text" class="form-control" ng-model="note.text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'tonalization')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>

            <ul>
              <h4>Working Piece
                <span ng-click="teacher.addNote(lesson, 'workingPiece')" class="glyphicon glyphicon-plus add-note-btn" ></span>
              </h4>
              <li ng-repeat="note in lesson.practiceArea.workingPiece track by $index">
                <span ng-click="teacher.noteEdit(note, 'workingPiece')" ng-show="!note.edit">{{note.text}}</span>
                <div ng-show="note.edit" class="input-group">
                  <input ng-blur="teacher.noteSave(note, 'workingPiece')" type="text" class="form-control" ng-model="note.text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'workingPiece')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>

            <ul>
              <h4>Review
                <span ng-click="teacher.addNote(lesson, 'review')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceArea.review track by $index">
                <span ng-click="teacher.noteEdit(note, 'review')" ng-show="!note.edit">{{note.text}}</span>
                <div ng-show="note.edit" class="input-group">
                  <input ng-blur="teacher.noteSave(note, 'review')" type="text" class="form-control" ng-model="note.text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'review')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>

            <ul>
              <h4>Listen
                <span ng-click="teacher.addNote(lesson, 'listen')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceArea.listen track by $index">
                <span ng-click="teacher.noteEdit(note, 'listen')" ng-show="!note.edit">{{note.text}}</span>
                <div ng-show="note.edit" class="input-group">
                  <input ng-blur="teacher.noteSave(note, 'listen')" type="text" class="form-control" ng-model="note.text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'listen')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>

            <ul>
              <h4>Other
                <span ng-click="teacher.addNote(lesson, 'other')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceArea.other track by $index">
                <span ng-click="teacher.noteEdit(note, 'other')" ng-show="!note.edit">{{note.text}}</span>
                <div ng-show="note.edit" class="input-group">
                  <input ng-blur="teacher.noteSave(note, 'other')" type="text" class="form-control" ng-model="note.text">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'other')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>

          </div> <!-- panel body -->


          <div class="comment-area panel-footer">
            Comments:
            <p ng-repeat="comment in lesson.teacherComments" class="teacher-comment">{{comment}}</p>
            <p ng-repeat="comment in lesson.studentComments" class="student-comment">{{comment}}</p>

            <div class="input-group comment-box">
              <input id="comment-input" class="form-control" type="text" placeholder="add comment here...">
              <span class="input-group-btn">
                <button ng-click="teacher.addComment(lesson)" class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
            </div>

          </div> <!-- panel footer/comment -->


        </div> <!-- entire lesson/panel -->
      </section> <!-- student notebook -->

    </div> <!-- row -->
  </div> <!-- container fluid -->

  </body>
</html>
