<!-- <!DOCTYPE html>
<html ng-app="notebook">
  <head>
    <meta charset="utf-8">
    <title>Teacher's Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="/module.js" charset="utf-8"></script>
    <script src="/controller.teacher.js" charset="utf-8"></script>
    <script src="/factory.studio.js" charset="utf-8"></script>
  </head>
  <body ng-controller="teacherController as teacher">
  <div class="jumbotron">
    <div class="container">
      <h1>My Classical Guitar Music Studio</h1>
    </div>
  </div>
   -->


  <div class="container-fluid dark-text">

    <div class="row">

      <nav class="col-sm-2">
        <!-- list of students. click on one and show that student's notebook -->
        <div class="list-group">
          <button ng-click="teacher.notebookEdit(student)" ng-repeat="student in teacher.students" type="button" class="list-group-item">{{student.name}}</button>
        </div>
      </nav>

      <!-- notebook section  -->
        <!-- empty notebook -->
      <section class="col-sm-9 empty" ng-show="!teacher.activeStudent">
        <h3>click on a student's name to see his or her notebook</h3>
      </section>
      <!-- student notebook -->
      <section class="col-sm-9" ng-show="teacher.activeStudent">

        <div class="page-header">
          <button ng-click="teacher.newLesson()" class="pull-right btn btn-default add-lesson-btn">
            <span class="glyphicon glyphicon-plus" ></span>
          </button>
          <p class="pull-right add-lesson">add a new lesson</p>
          <h3>{{teacher.activeStudent.name}}'s notebook</h3>
          <!-- add lesson button -->

          <!-- <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 btn btn-warning btn-large" ng-click="teacher.newLesson()">
              add lesson for {{teacher.activeStudent.name}}
            </div>
          </div> -->
        </div>


        <div class="panel panel-default" ng-repeat="lesson in teacher.activeStudent.notebook">

          <!-- notebook lesson header -->
          <div class="panel-heading">
            <button ng-click="teacher.deleteLesson(lesson)" type="button" class="close" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h3 ng-click="teacher.headingEdit()" ng-show="!teacher.heading">{{lesson.date}}  <small>{{lesson.lessonTheme}}</small></h3>
            <input type="text" ng-model="lesson.date" ng-show="teacher.heading" ng-blur="teacher.headingSave()">
            <input type="text" ng-model="lesson.lessonTheme" ng-show="teacher.heading" ng-blur="teacher.headingSave()">
           </div>

          <!-- list individual practice areas and notes -->
          <div class="panel-body">

            <ul>
              <h4>Tonalization
                <!-- <button  type="button" class="btn btn-default"> -->
                  <span ng-click="teacher.addNote(lesson, 'tonalization')" class="glyphicon glyphicon-plus add-note-btn"></span>
                <!-- </button> -->
              </h4>
              <!-- normal outline view switches to edit on click -->
              <li ng-repeat="note in lesson.practiceItems.tonalization track by $index">
                <span ng-click="teacher.noteEdit()" ng-show="!teacher.edit" ng-show="!teacher.edit">{{note}}</span>

                <!-- div grouping note editing stuff -->
                <div ng-show="teacher.edit" class="input-group">
                  <input ng-blur="teacher.noteSave()" type="text"  class="form-control"  ng-model="lesson.practiceItems.tonalization[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'tonalization')" type="button">&times;</button>
                  </span>
                </div>
              </li>
            </ul>


            <ul>
              <h4>Working Piece
                <span ng-click="teacher.addNote(lesson, 'workingPiece')" class="glyphicon glyphicon-plus add-note-btn" ></span>
              </h4>
              <li ng-repeat="note in lesson.practiceItems.workingPiece track by $index">
                <span ng-click="teacher.noteEdit()" ng-show="!teacher.edit">{{note}}</span>
                <div ng-show="teacher.edit" class="input-group">
                  <input ng-blur="teacher.noteSave()" type="text"  class="form-control"  ng-model="lesson.practiceItems.workingPiece[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'workingPiece')" type="button">&times;</button>
                  </span>
                </div>


                <!-- <input type="text" ng-blur="teacher.noteSave()" class="form-control" ng-show="teacher.edit" ng-model="lesson.practiceItems.workingPiece[$index]"> -->
              </li>
            </ul>

            <ul>
              <h4>Review
                <span ng-click="teacher.addNote(lesson, 'review')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceItems.review track by $index">
                <span ng-click="teacher.noteEdit()" ng-show="!teacher.edit">{{note}}</span>
                <div ng-show="teacher.edit" class="input-group">
                  <input ng-blur="teacher.noteSave()" type="text"  class="form-control"  ng-model="lesson.practiceItems.review[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'review')" type="button">&times;</button>
                  </span>
                </div>


                <!-- <input type="text" ng-blur="teacher.noteSave()" class="form-control" ng-show="teacher.edit" ng-model="lesson.practiceItems.review[$index]"> -->
              </li>
            </ul>

            <ul>
              <h4>Listen
                <span ng-click="teacher.addNote(lesson, 'listen')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceItems.listen track by $index">
                <span ng-click="teacher.noteEdit()" ng-show="!teacher.edit">{{note}}</span>
                <div ng-show="teacher.edit" class="input-group">
                  <input ng-blur="teacher.noteSave()" type="text"  class="form-control"  ng-model="lesson.practiceItems.listen[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'listen')" type="button">&times;</button>
                  </span>
                </div>

                <!-- <input type="text" ng-blur="teacher.noteSave()" class="form-control" ng-show="teacher.edit" ng-model="lesson.practiceItems.listen[$index]"> -->
              </li>
            </ul>

            <ul>
              <h4>Other
                <span ng-click="teacher.addNote(lesson, 'other')" class="glyphicon glyphicon-plus add-note-btn"></span>
              </h4>
              <li ng-repeat="note in lesson.practiceItems.other track by $index">
                <span ng-click="teacher.noteEdit()" ng-show="!teacher.edit">{{note}}</span>
                <div ng-show="teacher.edit" class="input-group">
                  <input ng-blur="teacher.noteSave()" type="text"  class="form-control"  ng-model="lesson.practiceItems.other[$index]">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="teacher.deleteNote(lesson, note, 'other')" type="button">&times;</button>
                  </span>
                </div>

                <!-- <input type="text" ng-blur="teacher.noteSave()" class="form-control" ng-show="teacher.edit" ng-model="lesson.practiceItems.other[$index]"> -->
              </li>
            </ul>

          </div>

        </div>
      </section>
    </div>
  </div>
    <!-- add messaging stuff here
    <section>

    </section>



  </body>
</html> -->
